If we list all of the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9. The sum of these multiples is 23.

In [1]:
3 + 5 + 6 + 9

23

In [2]:
multiples_list = [3, 5, 6, 9]

In [3]:
sum(multiples_list)

23

In [24]:
num = 9

num % 3 == 0

True

In [47]:
# 1, 2, 3, 4, 5, 6, 7, 8, 9

for num in range(1, 9 + 1):
        
    if num % 3 == 0 or num % 5 == 0:
        print(num)

3
5
6
9

In [49]:
denise_list = []

for num in range(1, 9+1):
    
    if num % 3 == 0 or num % 5 == 0:
        denise_list.append(num)
        
denise_list

[3, 5, 6, 9]